<div class="sidebar">
    <div class="admin">
        <img src="/assets/x-twitterblue.svg" alt="" class="w-16 h-16 ml-2 p-1 ring-gray-300 dark:ring-gray-500">
    </div>
    <div class="admin-txt">
        <h1 class="text-2xl md:text-3xl pl-2 my-2 border-l-4  font-sans font-bold border-teal-400  dark:text-gray-200">
            Admin Panel
        </h1>

    </div>
    <div class="features">
        <div class="img-icon" id="users">
            <img src="/assets/user-regular.svg" alt=""
                class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
            <p class="tweet">Users</p>
        </div>
        <div class="img-icon" id="tweets">
            <img src="/assets/twitter.svg" alt=""
                class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
            <p class="tweet">tweets</p>
        </div>

        <div class="img-icon" id="hastags">
            <img src="/assets/hashtag-solid.png" alt=""
                class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
            <p class="tweet">Permission</p>
        </div>

        <div class="img-icon" id="verification">
            <img src="/assets/check-solid.svg" alt=""
                class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
            <p class="tweet">verification</p>
        </div>

        <div class="img-icon" id="support">
            <img src="/assets/circle-question-regular.svg" alt=""
                class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
            <p class="tweet">support</p>
        </div>

        <div class="img-icon" id="adduser">
            <img src="/assets/adduser.png" alt=""
                class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
            <p class="tweet">Add User</p>
        </div>

    </div>

</div>