<section class="w-3/5 border border-y-0 border-gray-800" style="min-width:600px;">



    <div class="topmain" id="topmain">

        <div class="search_con border border-y-0 border-gray-800" id="box">



            <div class="fix">
                <div class="ml-20">


                    <input type="text" name="search" id="search" class="check" placeholder="search">

                </div>

                <div class="btn ml-10" id="btncon">

                    <p class="btn1 ml-5" id="top">Top</p>
                    <p class="btn1" id="Latest">Latest </p>
                    <p class="btn1" id="Pepole">Pepole</p>
                    <p class="btn1 mr-10" id="media1">Media</p>
                </div>
            </div>


            <!-- <div class="boxmain">

                <div class="heading mt-2 text-2xl ml-5" id="head">
                    <h2>Pepole</h2>
                </div>

                <div class="mt-3" id="usersa">
                    <div class="flex flex-shrink-0 ">
                        <div class="flex-1">
                            <div class="flex items-center w-48">
                                <div>
                                    <img class="inline-block h-10 w-auto rounded-full ml-4 mt-2"
                                        src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png"
                                        alt="">
                                </div>
                                <div class="ml-3 mt-3">
                                    <p class="text-base leading-6 font-medium ">
                                        Sonali Hirave
                                    </p>
                                    <p
                                        class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
                                        @ShonaDesign
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="flex-1 px-4 py-2 m-2">
                            <a href="" class=" float-right">
                                <button class="font-semibold text-white bg-black py-2 px-4 rounded-full">
                                    Follow
                                </button>
                            </a>

                        </div>
                    </div>
                    <div class="flex flex-shrink-0 ">
                        <div class="flex-1">
                            <div class="flex items-center w-48">
                                <div>
                                    <img class="inline-block h-10 w-auto rounded-full ml-4 mt-2"
                                        src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png"
                                        alt="">
                                </div>
                                <div class="ml-3 mt-3">
                                    <p class="text-base leading-6 font-medium ">
                                        Sonali Hirave
                                    </p>
                                    <p
                                        class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
                                        @ShonaDesign
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="flex-1 px-4 py-2 m-2">
                            <a href="" class=" float-right">
                                <button class="font-semibold text-white bg-black py-2 px-4 rounded-full">
                                    Follow
                                </button>
                            </a>

                        </div>
                    </div>
                    <div class="flex flex-shrink-0 ">
                        <div class="flex-1">
                            <div class="flex items-center w-48">
                                <div>
                                    <img class="inline-block h-10 w-auto rounded-full ml-4 mt-2"
                                        src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png"
                                        alt="">
                                </div>
                                <div class="ml-3 mt-3">
                                    <p class="text-base leading-6 font-medium ">
                                        Sonali Hirave
                                    </p>
                                    <p
                                        class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
                                        @ShonaDesign
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="flex-1 px-4 py-2 m-2">
                            <a href="" class=" float-right">
                                <button class="font-semibold text-white bg-black py-2 px-4 rounded-full">
                                    Follow
                                </button>
                            </a>

                        </div>
                    </div>

                </div>








            </div>
 -->



        </div>

        <div class="popup" id="popup">
            <div class="hastag" id="hastag">

            </div>
            <div class="username check" id="username">





            </div>
            <div class="simpal check" id="simpal">
                <p onclick="hello()" class="check">Try searching for people, lists, or keywords</p>
            </div>

        </div>
    </div>


    <ul class="list-none" id="tweetss">





    </ul>

</section>