<section class="w-3/5 border border-y-0 " style="min-width:600px;">
    <div class="topmain" id="topmain">
        <div class="search_con border border-y-0 border-gray-800" id="box">
            <div class="fix">
                <div class="max-w-full sm:w-auto">
                    <input type="text" name="search" id="search" class="check" placeholder="search"
                        style="max-width: 45%;">
                </div>
                <div class="btn ml-10 mt-2" id="btncon">
                    <p class="btn1 cursor-pointer" id="top">Top</p>
                    <p class="btn1 cursor-pointer" id="Latest">Latest </p>
                    <p class="btn1 cursor-pointer" id="Pepole">Pepole</p>
                    <p class="btn1 mr-10 cursor-pointer" id="media1">Media</p>
                </div>
            </div>


        </div>
        <div class="popup ml-4" id="popup" style="max-width: 20%; margin-left: 6%;">
            <div class="hastag" id="hastag">
            </div>
            <div class="username check" id="username">
            </div>
            <div class="simpal check ml-2" id="simpal">
                <p onclick="hello()" class="check">Try searching for people, lists, or keywords</p>
            </div>
        </div>
    </div>
    <ul class="list-none" id="tweetss">



    </ul>

</section>