<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>X</title>

    <style>
        #search {
            border: 1px #1D9BF0;
            margin-top: 2%;
            border-radius: 50px;
            background-color: #EFF3F4;
            height: 40px;
            width: 70%;
            padding-left: 5%;

        }

        .boxmain {
            margin-top: 100px;
        }



        .fix {
            position: fixed;
            background-color: white;

            width: 50%;
            top: 0;

        }

        .heading {
            color: black;
            font-weight: bolder;
        }

        .topmain {
            display: flex;
            width: 100%;
            position: absolute;
        }

        .sidebar {
            width: 30%;
            padding-left: 5%;

        }

        .main {

            position: relative;

        }

        .asidebar {
            width: 30%;
        }

        .btn1 {
            width: 30%;

        }

        .btn1:hover {
            background-color: #E6E7E7;
            border-bottom: 5px solid #1D9BF0;
            ;
        }

        .btn {
            display: flex;
            gap: 80px;

            font-size: larger;
            color: #536471;
        }

        .popup {


            min-height: 14%;
            width: 30%;
            background-color: rgb(255, 255, 255);
            position: fixed;
            top: 55;
            left: 31%;
            border-radius: 10px;

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            display: none;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
        }
    </style>
    <script src="/js/tweetgenrate.js"></script>
</head>

<body>

    <div class="topmain" id="topmain">


        <div class="sidebar">
            <%- include('../partials/sidebar.ejs') %>
        </div>



        <div class="main w-3/5">
            <%- include('../partials/content.ejs') %>
        </div>



        <div class="popup" id="popup">
            <div class="hastag" id="hastag">

            </div>
            <div class="username check" id="username">





            </div>
            <div class="simpal check" id="simpal">
                <p onclick="hello()" class="check">Try searching for people, lists, or keywords</p>
            </div>

        </div>

        <div class="asidebar">

            <%- include('../partials/aside.ejs')%>
        </div>


    </div>




    <style>
        .overflow-y-auto::-webkit-scrollbar,
        .overflow-y-scroll::-webkit-scrollbar,
        .overflow-x-auto::-webkit-scrollbar,
        .overflow-x::-webkit-scrollbar,
        .overflow-x-scroll::-webkit-scrollbar,
        .overflow-y::-webkit-scrollbar,
        body::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .overflow-y-auto,
        .overflow-y-scroll,
        .overflow-x-auto,
        .overflow-x,
        .overflow-x-scroll,
        .overflow-y,
        body {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        .bg-dim-700 {
            --bg-opacity: 1;
            background-color: white;
        }

        html,
        body {
            margin: 0;
            background-color: white;
        }

        svg.paint-icon {
            fill: currentcolor;
        }
    </style>


</body>



<script>



    function hello() {

    }

    let search = document.getElementById("search")

    let popup = document.getElementById("popup")


    let topmain = document.getElementById("topmain");

    search.addEventListener("keyup", searchOnchange);
    topmain.addEventListener("click", remove);

    search.addEventListener("focus", searchOnfocus);
    popup.addEventListener("click", show)


    function show() {
        popup.style.display = "block"
    }



    async function searchOnchange() {
        let hastag = document.getElementById("hastag")
        let username = document.getElementById("username")
        let simpale = document.getElementById("simpal")
        username.style.display = "none";
        hastag.style.display = "none";


        popup.style.display = "block"




        async function getdata(search) {
            let url = window.location.origin + "/explore/searchboxdata"
            let bodyargs = { searchbox: search }

            let data = await fetch(url, {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(bodyargs)
            })

            data = await data.json()
           
            return data;

        }


        let search = document.getElementById("search").value;
        let data = await getdata(search);


        if (data.type == 0) {




            let tag = ``

            data.result.forEach(element => {

                tag += `  <h2 class="px-4 ml-2 w-48 font-bold ">#${element.hashtag_name}</h2>`

            });
            hastag.innerHTML = tag
            hastag.style.display = "block";
            simpale.style.display = "none";
            username.style.display = "none";

        }
        else if (data.type == 1) {



            let con = ``
            data.result.forEach(element => {

                con += `
            <div class="flex flex-shrink-0 check ">
                    <div class="flex-1 check">
                        <div class="flex items-center w-48 check">
                            <div>
                                <img class="inline-block h-10 w-auto rounded-full ml-4 mt-2 check"
                                    src=""
                                    alt="">
                            </div>
                            <div class="ml-3 mt-3 check">
                                <p class="text-base leading-6 font-medium check">
                                    ${element.name}
                                </p>
                                <p
                                    class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150 check">
                                    @${element.username}
                                </p>
                            </div>
                        </div>

                    </div>

                </div>`
            });




            hastag.style.display = "none";
            simpale.style.display = "none";
            username.innerHTML = con;

            username.style.display = "block";
        }
        else {

            hastag.style.display = "none";
            simpale.style.display = "block";
            username.style.display = "none";
        }

    }


    function searchOnfocus() {
        let hastag = document.getElementById("hastag")
        let username = document.getElementById("username")
        let simpale = document.getElementById("simpal")
        username.style.display = "none";
        hastag.style.display = "none";
        popup.style.display = "block"
        simpale.style.display = "block"
    }






    // topmain.addEventListener("click", remove);

    function remove(e) {



        if (e.target.class == "check") {

            popup.style.display = "block"

        }
        else {
            popup.style.display = "none"
        }
    }





    let mid = `
    

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg" alt="">
    </div>
</div>
`
    let top1 = document.getElementById("top");
    let Pepole = document.getElementById("Pepole");
    let Latest = document.getElementById("Latest");
    let media1 = document.getElementById("media1");



   

    top1.addEventListener("click", topPostHandeler);
    Pepole.addEventListener("click", pepoleHandeler);
    Latest.addEventListener("click", latestPostHandeler);
    media1.addEventListener("click", mediaPostHandeler);





    async function data(route) {


        let tweet = await gettweet(route);
        return tweet;
    }


    async function topPostHandeler() {

        let tweet = await data("/explore/topTweet")
        let conn = document.getElementById("tweetss")
        conn.innerHTML = ""
        let et = tweet + tweet
        conn.innerHTML = et;
        alert("hello")
    }



    async function pepoleHandeler() {


    }


    async function latestPostHandeler() {
        let tweet = await data("/explore/latestTweet")
        let conn = document.getElementById("tweetss")
        conn.innerHTML = ""
        conn.innerHTML = tweet;
        alert("latest post")

    }




    async function mediaPostHandeler() {




        async function getdata(search) {
            let url = window.location.origin + "/explore/getMedia"
            let bodyargs = { searchbox: search }
            let data = await fetch(url, {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(bodyargs)
            })

            data = await data.json()
           
            return data.media;

        }


        let search = document.getElementById("search").value
        let data = await getdata(search);


        let mediacon = `<div class="grid grid-cols-2 md:grid-cols-3 gap-4">`

 


        data.forEach(element => {
            mediacon += `<div>
                                <img class="h-auto max-w-full rounded-lg" src="/uploads/${element.media_url}" alt="">
                            </div>`
        });



        mediacon += `</div>`



        let conn = document.getElementById("tweetss")
        let head = document.getElementById("head");
        let usersa = document.getElementById("usersa");
        head.innerHTML = "";
        usersa.innerHTML = "";

        conn.innerHTML = ""
        conn.innerHTML = mediacon;

    }






</script>
<!-- <script src="/js/like.script.js"></script>
<script src="/js/bookmark.script.js"></script>
<script src="/js/comment.script.js"></script> -->


</html>