<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link href="./css/output.css" rel="stylesheet">
</head>

<body>



    <div
        class="w-full max-w-sm mx-auto mt-20 overflow-hidden justify-center bg-white rounded-lg shadow-md dark:bg-gray-800">
        <div class="px-6 py-4">
            <div class="flex justify-center mx-auto">
                <img class="w-auto h-7 sm:h-8" src="./assets/icon.png" alt="">
            </div>

            <h3 class="mt-3 text-xl font-medium text-center text-gray-600 dark:text-gray-200">Forgot Password</h3>
            <!-- 
            <p class="mt-1 text-center text-gray-500 dark:text-gray-400">Login or create account</p> -->

            <form>
                <div class="w-full mt-4">
                    <input
                        class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300"
                        type="email" id="email" placeholder="Email Address" aria-label="Email Address" />
                </div>

                <!-- <div class="w-full mt-4">
                    <input
                        class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300"
                        type="password" placeholder="Password" aria-label="Password" />
                </div> -->

                <div class="flex items-center justify-center mt-4">
                    <a href="#" class="text-sm text-gray-600 dark:text-gray-200 hover:text-gray-500"></a>

                    <!-- <button
                        class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50"> -->

                    <p  class="mt-2 flex w-full justify-center cursor-pointer rounded-full bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
                        id="verify">
                        verify account
                    </p>




                </div>

                <div class="w-full mt-4" id="link">

                    <a href="#" class="block w-full px-4 py-2 mt-2 text-gray-700  " id="linka">
                        hello</a>

                </div>

            </form>
        </div>

        <div class=" flex items-center justify-center py-4 text-center bg-gray-50 dark:bg-gray-700">


            <a href="#"
                class="mx-2 text-sm font-bold text-blue-500 dark:text-blue-400 justify-center hover:underline">Log in</a>
        </div>
    </div>


</body>






<script>
    let link = document.getElementById("link");
    let verify = document.getElementById("verify");
    verify.addEventListener("click", verify1);



    link.style.display = "none"

    async function verify1() {
        // alert("hello")
        let input_email = document.getElementById("email").value;
        console.log(input_email);
        async function verify_email(email) {
            let url = window.location.origin + "/verify_email"
            let data1 = {
                email: email,
            }

            let result_validate = await fetch(url, {
                method: 'post',
                body: JSON.stringify(data1),
                headers: { 'Content-Type': 'application/json' },
            })

            result_validate = await result_validate.json()
            console.log(result_validate);
            return result_validate;

        }


        let result = await verify_email(input_email);






        async function getactivecode(input_email) {
            let url = window.location.origin + "/activeCode"
            let data1 = {
                email: input_email
            }

            let ActivationCode = await fetch(url, {
                method: 'post',
                body: JSON.stringify(data1),
                headers: { 'Content-Type': 'application/json' },
            })

            ActivationCode = await ActivationCode.json()
            // console.log(ActivationCode);

            return ActivationCode.code;

        }


        if (result.isvalidate_user == true) {

            let link = document.getElementById("link");
            let linka = document.getElementById("linka");
            let verify = document.getElementById("verify");
            verify.style.display = "none"
            link.style.display = "block"

            let code = await getactivecode(input_email)
            let activationlink = window.location.origin + `/resetPassword?email=${input_email}&activecode=${code}`
            linka.innerText = activationlink
            linka.href = activationlink

        }

    }



</script>

</html>