<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
    <title>X</title>
    <style>
        .swal2-html-container, .swal2-title{
            color: white !important;
        }
    </style>
</head>

<body onload="getHomeForyouHandler()">
    <div class=" h-screen" id="main" style="background-color: white">
        <div class="flex justify-center">
            <header class=" py-4 h-auto">
                <!-- Side Navbar (left side) -->
                <%- include('../partials/sidebar.ejs') %>
            </header>
            <main role="main">
                <div class="flex" style="width: 990px;">

                    <%- include('../partials/home')%>

                        <!-- right sidebar -->
                        <%- include('../partials/aside.ejs')%>
                </div>

            </main>
        </div>
    </div>



    <style>
        .overflow-y-auto::-webkit-scrollbar,
        .overflow-y-scroll::-webkit-scrollbar,
        .overflow-x-auto::-webkit-scrollbar,
        .overflow-x::-webkit-scrollbar,
        .overflow-x-scroll::-webkit-scrollbar,
        .overflow-y::-webkit-scrollbar,
        body::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .overflow-y-auto,
        .overflow-y-scroll,
        .overflow-x-auto,
        .overflow-x,
        .overflow-x-scroll,
        .overflow-y,
        body {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        .bg-dim-700 {
            --bg-opacity: 1;
            background-color: white;
        }

        html,
        body {
            margin: 0;
            background-color: white;
        }

        svg.paint-icon {
            fill: currentcolor;
        }
    </style>

<script src="/js/getTweetComponent.js"></script>
<script src="/js/getRetweetComponent.js"></script>
<script src="/js/retweet.js"></script>
<script src="/js/getAllForyou.script.js"></script>
<script src="/js/getHomeFollowing.script.js"></script>
<script src="/js/bookmark.script.js"></script>
<script src="/js/like.script.js"></script>
<script src="/js/share.script.js"></script>
<script src="/js/deletePost.script.js"></script>
<!-- <script src="/js/following.script.js"></script> -->
<!-- <script src="/js/comment.script.js"></script> -->
</body>

</html>


    