<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>X</title>
    <link href="./css/output.css" rel="stylesheet" />
  </head>
  <style></style>

  <body>
    <div id="home" class="flex justify-center">
      <div class="container flex justify-around" id="home-container">
        <div id="home1" class="flex justify-center items-center h-[900px]">
          <div id="home-logo">
            <img src="./assets/x-logo.png" class="h-80" alt="" />
          </div>
        </div>
        <div id="home2" class="flex items-center pl-20">
          <div id="home-content">
            <div class="mb-12">
              <span class="text-7xl font-bold">Happening now</span>
            </div>
            <div class="mb-8">
              <span class="font-semibold text-3xl">Join today.</span>
            </div>
            <div id="home-signup">
              <div
                class="flex justify-center border rounded-full border-slate-300 w-72 mb-2 hover:bg-gray-100"
              >
                <div id="signup-google" class="flex items-center px-10 py-2">
                  <img
                    class="size-4 mr-2"
                    src="./assets/google-logo.png"
                    alt=""
                  /><span class="text-sm">Sign up with Google</span>
                </div>
              </div>
              <div
                class="flex justify-center border rounded-full border-slate-300 w-72 hover:bg-gray-100"
              >
                <div id="signup-google" class="flex items-center px-10 py-2">
                  <img
                    class="size-4 mr-2"
                    src="./assets/apple-logo.png"
                    alt=""
                  /><span class="text-sm">Sign up with Apple</span>
                </div>
              </div>
              <div id="signup-or" class="flex items-center justify-center w-72">
                <div id="or-line1">
                  <hr class="w-[100px] h-[1px] bg-slate-200 border-0 rounded" />
                </div>

<<<<<<< HEAD
                            <span class="px-3">or</span>
                            <div id="or-line2">
                                <hr class="w-[100px] h-[1px] bg-slate-200 border-0 rounded">
                            </div>
                        </div>
                        <a href="/registration">
                            <div
                            class="flex justify-center border rounded-full border-slate-200 w-72 bg-sky-500 hover:bg-sky-600">
                            <div id="signup-google" class="flex items-center px-10 py-2"><span
                                    class="text-sm text-white font-bold">Create
                                    account</span></div>
                            </div>
                        </a>
                        <div id="policy" class="mt-3 w-72">
                            <span class="text-xs text-gray-500">By signing up, you agree to the <a
                                    class="text-sky-500 hover:underline hover:underline-offset-1">Terms of Service</a>
                                and <a class="text-sky-500 hover:underline hover:underline-offset-1">Privacy Policy</a>,
                                including <a class="text-sky-500 hover:underline hover:underline-offset-1">Cookie</a>
                                Use.</span>
                        </div>
                        <div id="home-signin" class="mt-10">
                            <span class="font-bold font-xl">Already have an account?</span>
                            <a href="/login">
                            <div
                                class="mt-3 flex justify-center border rounded-full border-slate-300 w-72 hover:bg-gray-100 ">
                                <div id="signup-google" class="flex items-center px-10 py-2"><span
                                        class="text-sm text-sky-500 font-bold">Sign in</span></div>
                            </div>
                            </a>
                        </div>
                    </div>
=======
                <span class="px-3">or</span>
                <div id="or-line2">
                  <hr class="w-[100px] h-[1px] bg-slate-200 border-0 rounded" />
                </div>
              </div>
              <a href="/registration">
                <div
                  class="flex justify-center border rounded-full border-slate-200 w-72 bg-sky-500 hover:bg-sky-600"
                >
                  <div id="signup-google" class="flex items-center px-10 py-2">
                    <span class="text-sm text-white font-bold"
                      >Create account</span
                    >
                  </div>
>>>>>>> f620cfbe5c013aa276d3587050ec9a8830c5f05e
                </div>
              </a>
              <div id="policy" class="mt-3 w-72">
                <span class="text-xs text-gray-500"
                  >By signing up, you agree to the
                  <a
                    class="text-sky-500 hover:underline hover:underline-offset-1"
                    >Terms of Service</a
                  >
                  and
                  <a
                    class="text-sky-500 hover:underline hover:underline-offset-1"
                    >Privacy Policy</a
                  >, including
                  <a
                    class="text-sky-500 hover:underline hover:underline-offset-1"
                    >Cookie</a
                  >
                  Use.</span
                >
              </div>
              <div id="home-signin" class="mt-10">
                <span class="font-bold font-xl">Already have an account?</span>
                <a href="/login">
                  <div
                    class="mt-3 flex justify-center border rounded-full border-slate-300 w-72 hover:bg-gray-100"
                  >
                    <div
                      id="signup-google"
                      class="flex items-center px-10 py-2"
                    >
                      <span class="text-sm text-sky-500 font-bold"
                        >Sign in</span
                      >
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
