<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/output.css" rel="stylesheet" />
    <title>Twitter Login</title>
  </head>

  <body>
    <div
      class="flex mx-auto max-w-md mt-10 rounded-lg bg-gray-100 flex-col flex justify-center px-6 py-12 lg:px-8"
    >
      <div class="sm:mx-auto justify-center sm:w-full sm:max-w-sm">
        <div class="sm:mx-auto flex justify-center sm:w-full sm:max-w-sm">
          <img
            class="rounded-full w-14 h-10"
            src="/assets/x-logo.png"
            alt="x logo"
          />
        </div>
        <h2
          class="mt-10 text-center text-3xl font-medium leading-9 tracking-tight text-gray-900"
        >
          Sign in to X
        </h2>
      </div>
      <div
        class="flex justify-center mt-2 border rounded-full border-slate-300 w-full hover:bg-gray-100"
      >
        <div id="signup-google" class="flex items-center px-10 py-2">
          <img class="size-4 mr-2" src="./assets/google-logo.png" alt="" /><span
            class="text-sm"
            >Sign up with Google</span
          >
        </div>
      </div>

      <form name="login" class="space-y-6" action="" method="POST">
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <div>
            <label
              for="email"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Email address</label
            >
            <div class="mt-2">
              <input
                id="email"
                name="email"
                type="email"
                placeholder=" Email"
                autocomplete="email"
                class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring sm:text-sm sm:leading-6"
              /><span class="text-red-500" id="checkmail"></span>
            </div>
          </div>

          <div>
            <div class="flex items-center justify-between">
              <label
                for="password"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Password</label
              >
            </div>
            <div class="mt-2">
              <input
                id="password"
                name="password"
                type="password"
                placeholder=" Password"
                autocomplete="current-password"
                class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring sm:text-sm sm:leading-6"
              /><span class="text-red-500" id="checkpassword"></span>
            </div>
            <div class="text-sm mt-2">
              <a
                href="/forgotpassword"
                class="font-semibold text-sky-600 hover:text-sky-500"
                >Forgot password?</a
              >
            </div>
          </div>

          <div>
            <input
              name="signin"
              id="signin"
              type="button"
              class="mt-2 flex w-full justify-center cursor-pointer rounded-full bg-sky-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
              value="Sign in"
              onclick="return validateAndSubmit()"
            />
          </div>
          <div class="text-sm mt-2">
            Don't have an account?
            <a
              href="/home"
              class="font-semibold text-sky-600 hover:text-sky-500"
            >
              Sign up</a
            >
          </div>
        </div>
        <span
          id="errorMessage"
          class="text-red-500 text-sm block text-center"
        ></span>
      </form>
    </div>
  </body>
  <script>
    const validateAndSubmit = async () => {
      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;
      const emailErrorElement = document.getElementById("checkmail");
      const passwordErrorElement = document.getElementById("checkpassword");
      const errorMessageElement = document.getElementById("errorMessage");

      emailErrorElement.textContent = "";
      passwordErrorElement.textContent = "";
      errorMessageElement.textContent = "";

      if (!email) {
        emailErrorElement.textContent = "Please enter your email.";
        return;
      }

      if (!password) {
        passwordErrorElement.textContent = "Please enter your password.";
        return;
      }

      try {
        var url = window.location.origin + "/login";
        let login_data = {
          email,
          password,
        };
        let login_response = await fetch(url, {
          method: "POST",
          body: JSON.stringify(login_data),
          headers: {
            "Content-Type": "application/json",
          },
        });

        login_response = await login_response.json();
        console.log(login_response);
        if (login_response.success === true) {
          url = window.location.replace(window.location.origin + "/home");
          // Redirect to home page upon successful login
          // url = window.location.origin + "/home";
        } else {
          const errorMessage = await login_response;
          errorMessageElement.textContent = errorMessage.message;
        }
      } catch (error) {
        console.error("Login error:", error);
        errorMessageElement.textContent =
          "An error occurred. Please try again.";
      }
    };
  </script>
</html>
