<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>X - messages</title>
    <link href="/css/output.css" rel="stylesheet" />
    <style>
        input:focus{
            outline: none;
        }

        .sender-chat, .reciver-chat{
            padding: 10px 20px;
        }

        .sender-chat span, .reciver-chat span{
            padding: 15px 20px;
            border-radius: 30px;
        }
        
        .sender-chat span{
            background-color: rgb(14 165 233);
            color: white;
        }

        .reciver-chat span{
            background-color: rgb(245, 248, 250);
            color: black;
        }

        .active-user{
            background-color: rgb(245, 248, 250);
        }
    </style>
</head>

<body>
    <div class="p-relative h-screen" style="background-color: white">
        <div class="flex justify-center">
            <header class=" py-4 h-auto">
                <!-- Side Navbar (left side) -->
                <%- include('../partials/sidebar.ejs') %>
            </header>
            <main role="main">
                <div class="flex h-lvh" style="width: 990px;">
                    <%- include('../partials/messagesComponent.ejs') %>

                    <div class="w-3/5 border-r border-gray-200 overflow-auto relative" id="user-display-and-chatting">
                        <div id="prev-chat-section" class="h-full flex justify-center items-center ">
                            <div class="w-3/5" style="line-height: 25px;">
                                <h2 class="font-bold text-4xl">Select a message</h2>
                                <p style="color: rgb(83, 100, 113);">Choose from your existing conversations, start a new one, or just keep swimming.</p>
                            </div>
                        </div>

                        <div id="chat-section" class="relative" style="display: none;">

                            <!-- sticky follower name -->
                            <div class="flex-1 sticky top-0 text-black bg-white opacity-90">
                                <h2 class="px-4 py-4 text-xl font-semibold " id="selectedUserName">name</h2>
                            </div>

                            <!-- reciver-user (follower) info  -->
                            <div id="reciver-user-info" class="border-b border-gray-200">
                                <div class="flex flex-col items-center pb-11">
                                    <div>
                                        <img class="inline-block h-14 w-14 rounded-full"
                                            src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png" alt="" id="profileImg" />
                                    </div>
                                    <div>
                                        <span class="text-black font-semibold" id="selectedUserName1">name</span>
                                    </div>
                                    <div>
                                        <span class="text-black" id="selectedUserUsername">user name</span>
                                    </div>
                                </div>
                            </div>

                            <!-- chat container -->
                            <div class="h-5/6 py-5 " id="chat-container">
                            </div>

                            <!-- sticky user input form -->
                            <div class="sticky bottom-0 py-2 bg-white">
                               <div class="relative">
                                    <div class="mx-4 border border-t-gray-200 rounded-xl" style="background-color: #eff3f4;">
                                        <form id="messageForm" class="relative" enctype="multipart/form-data">
                                            <div class="flex items-center relative">
                                                <div>
                                                    <label for="img-message">
                                                        <a class="group flex items-center text-blue-400 px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-opacity-20 hover:bg-[#8fa2c4]">
                                                            <svg class="text-center h-7 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                                                                <path d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </label>
                                                    <input type="file" onchange="previewMedia(event)" name="img-message" id="img-message" accept="image/png, image/jpeg, image/jpg, image/gif" class="hidden">
                                                </div>
                                                <div>
                                                    <label for="img-message">
                                                        <a class="group flex items-center text-blue-400 px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-opacity-20 hover:bg-[#8fa2c4]">
                                                            <img src="./assets/gif.png" alt="" srcset="" height="50px" width="50px" class="outline-1 select-none">
                                                        </a>
                                                    </label>
                                                    <input type="file" onchange="previewMedia(event)" name="img-message" id="img-message" accept="image/gif" class="hidden">
                                                </div>
                                                <div>
                                                    <a id="emojiBtnAtMessage" data-modal-target="emojiPickerAtMessage" data-modal-toggle="emojiPickerAtMessage" class=" group flex items-center text-blue-400 px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-opacity-20 hover:bg-[#8fa2c4] hover:text-blue-600">
                                                        <svg class="text-center h-7 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                                                        <path d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                                                        </path>
                                                        </svg>
                                                    </a>
                                                </div>

                                                
                                                <input type="text" class="placeholder:text-gray-400 px-2"  name="message" value="" onkeyup="checkMessageBox()" onkeydown="checkMessageBox()" id="message" placeholder="Start a new message" style="background-color: #eff3f4; width: 100%;">
                                                <input type="submit" value="Send" class="opacity-50 p-2" id="messageSendBtn" disabled>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="emojiPickerAtMessage" style="position: absolute; top: -400px;">
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <style>
        .overflow-y-auto::-webkit-scrollbar,
        .overflow-y-scroll::-webkit-scrollbar,
        .overflow-x-auto::-webkit-scrollbar,
        .overflow-x::-webkit-scrollbar,
        .overflow-x-scroll::-webkit-scrollbar,
        .overflow-y::-webkit-scrollbar,
        body::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .overflow-y-auto,
        .overflow-y-scroll,
        .overflow-x-auto,
        .overflow-x,
        .overflow-x-scroll,
        .overflow-y,
        body {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        .bg-dim-700 {
            --bg-opacity: 1;
            background-color: white;
        }

        html,
        body {
            margin: 0;
            background-color: white;
        }

        svg.paint-icon {
            fill: currentcolor;
        }
    </style>

    <!-- script for emoji picker element -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script>
        let toggle = 0;
        document.getElementById('emojiBtnAtMessage').addEventListener('click', (event) => {
            if (!toggle) {
                document.getElementById('emojiPickerAtMessage').innerHTML = `<emoji-picker></emoji-picker>`;
                document.querySelector('#emojiPickerAtMessage emoji-picker').addEventListener('emoji-click', (event) => {
                    let emoji = event.detail.unicode;
                    document.getElementById('message').value += emoji;
                    document.getElementById("messageSendBtn").disabled = false;
                    document.getElementById("messageSendBtn").style.opacity = 1;
                });
                toggle = 1;
            } else {
                document.getElementById('emojiPickerAtMessage').innerHTML = '';
                toggle = 0;
            }
        });
    </script>

    

    <!-- <script src="/socket.io/socket.io.js"></script> -->

    <script>
        // let socket = io();

        // let senderId = '<%= user.id %>';

        let reciverId;

        // remove selected image
        document.getElementById('img-message').value = '';


        // socket.on('connect', () => {
        //     console.log('connected to server ' + socket.id);

        //     socket.emit('user-connected', senderId);
        //     socket.emit('getUnreadMessages', senderId);     
        // });

        socket.on('unreadMessages', (data) => {

            data.forEach((element, index) => {
                document.getElementById(`${element.sender_id}`).querySelector('.unreadMessageCount').parentElement.style.display = 'flex';
                document.getElementById(`${element.sender_id}`).querySelector('.unreadMessageCount').innerHTML = `${element.count}`;
            });

            if (data.length) {
                document.getElementById('messageCount').parentElement.style.display = "flex";
                document.getElementById('messageCount').innerHTML = `${data.length}`;
            }
        });

        function openMessageBox(followerId, reciverName, reciverUsername, reciverImgUrl) {
            reciverId = followerId;

            // remove image, preview and message
            document.getElementById('message').value = "";

            if (document.getElementById('img-message').value) {
                document.getElementById('preview_img').parentElement.remove();
            }

            document.getElementById('img-message').value = '';
            
            // desable send btn
            document.getElementById("messageSendBtn").disabled = true;
            document.getElementById("messageSendBtn").style.opacity = 0.5;

            // remove active status (basically background color) from all users and added on the reciver id
            let allUsers = Array.from(document.querySelectorAll('ul li'));
            allUsers.forEach((element) => {
                element.classList.remove('active-user');
            });

            document.getElementById(followerId).parentElement.classList.add('active-user');

            // fill the values of reciver on chat section 
            document.getElementById('selectedUserName').innerHTML = reciverName;
            document.getElementById('selectedUserUsername').innerHTML = `@`+reciverUsername;
            document.getElementById('selectedUserName1').innerHTML = reciverName;
            if (reciverImgUrl) {
                document.getElementById('profileImg').src = '/uploads/' + reciverImgUrl;
            } else {
                document.getElementById('profileImg').src = '/assets/profile.png';
            }

            // open the chat box
            document.getElementById('prev-chat-section').style.display = 'none';
            document.getElementById('chat-section').style.display = 'block';

            // load old messages
            socket.emit('existingChats', {senderId: senderId, reciverId: reciverId});

            // make read status 1
            socket.emit('messageRead', {senderId: senderId, reciverId: reciverId});

            // remove unread message count
            let unreadSpanTag = document.getElementById(`${reciverId}`).querySelector('.unreadMessageCount');

            if (parseInt(unreadSpanTag.innerHTML) > 0) {
                
                document.getElementById('messageCount').innerHTML -= 1;
                if (parseInt(document.getElementById('messageCount').innerHTML) == 0) {
                    document.getElementById('messageCount').parentElement.style.display = "none";
                }
                unreadSpanTag.innerHTML = 0;
                unreadSpanTag.parentElement.style.display = 'none';
            }
        }

        document.getElementById('messageForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            let message = document.getElementById('message').value;
            let imgFile = document.getElementById('img-message').files[0];

            let formData = new FormData();
            formData.append('senderId', senderId);
            formData.append('reciverId', reciverId);
            formData.append('message', message);
            formData.append('imgFile', imgFile);

            // if (message && message.length != 0 && message.length < 250) {
                let url = window.location.origin + '/messages/storeMessage';

                let data = await fetch(url, {
                    method: "POST",
                    body: formData
                });

                let response = await data.json();

                if (response.success) {

                    let newDiv = document.createElement('div');
                    newDiv.classList.add('text-right', 'sender-chat', 'flex', 'justify-end');

                    if (imgFile) {
                        newDiv.innerHTML = `<img src="/uploads/${response.message.message}" alt="img" class="border rounded-xl" style="height: 300px; width: 300px">`;
                    } else {
                        let newSpan = document.createElement('span');
                        // newSpan.classList.add('');
                        newSpan.textContent = `${response.message.message}`;
                        newSpan.style.lineBreak = 'anywhere';
                        newSpan.style.maxWidth = '85%';
                        newDiv.appendChild(newSpan);
                        // newDiv.innerHTML = `<span style="line-break: anywhere; max-width: 85%;">${response.message.message}</span>`;
                    }

                    document.getElementById('chat-container').appendChild(newDiv);

                    // remove messge text
                    document.getElementById('message').value = '';

                    // remove preview image
                    if (document.getElementById('img-message').value) {
                        document.getElementById('preview_img').parentElement.remove();
                    }

                    // remove selected image
                    document.getElementById('img-message').value = '';

                    document.getElementById("messageSendBtn").disabled = true;
                    document.getElementById("messageSendBtn").style.opacity = 0.5;

                    scrollToBottom('user-display-and-chatting');

                    socket.emit('send-private-message', response.message);
                }
            // }
        })

        // receive private messages
        socket.on('receive-private-message', (data) => {

            let newDiv = document.createElement('div');
            newDiv.classList.add('reciver-chat', 'flex', 'justify-start');

            if (data.content_type == 'text') {
                let newSpan = document.createElement('span');
                // newSpan.classList.add('');
                newSpan.textContent = `${data.message}`;
                newSpan.style.lineBreak = 'anywhere';
                newSpan.style.maxWidth = '85%';
                newDiv.appendChild(newSpan);
                // newDiv.innerHTML = `<span style="line-break: anywhere; max-width: 85%;">${data.message}</span>`;
            } else {
                newDiv.innerHTML = `<img src="/uploads/${data.message}" alt="img" class="border rounded-xl" style="height: 300px; width: 300px">`;
            }
    
            document.getElementById('chat-container').appendChild(newDiv);  

            scrollToBottom('user-display-and-chatting');

            if (data.senderId === reciverId) {
                socket.emit('messageRead', {senderId: senderId, reciverId: data.senderId});
            }
        })

        // load old chats
        socket.on('loadChats', (data) => {
            document.getElementById('chat-container').innerHTML = '';

            data.oldchats.forEach((element, index) => {
                let newDiv = document.createElement('div');

                if (element.content_type == 'text') {
                    let newSpan = document.createElement('span');
                    // newSpan.classList.add('');
                    newSpan.textContent = `${element.content}`;
                    newSpan.style.lineBreak = 'anywhere';
                    newSpan.style.maxWidth = '85%';
                    newDiv.appendChild(newSpan);
                    // newDiv.textContent = `<span style="line-break: anywhere; max-width: 85%;">${element.content}</span>`;
                } else {
                    newDiv.innerHTML = `<img src="/uploads/${element.content}" alt="img" class="border rounded-xl" style="height: 300px; width: 300px">`;
                }

                if (element.sender_id == senderId) {
                    newDiv.classList.add('text-right', 'sender-chat', 'flex', 'justify-end');
                } else {
                    newDiv.classList.add('reciver-chat', 'flex', 'justify-start');
                }

                document.getElementById('chat-container').appendChild(newDiv);  

                scrollToBottom('user-display-and-chatting');
            });
        })


        const scrollToBottom = (id) => {
            const element = document.getElementById(id);
            element.scrollTop = element.scrollHeight;
        }

        const checkMessageBox = () => {
            let message = document.getElementById('message').value;

            if ( message.trim().length == 0 || message.trim().length > 65000) {
                document.getElementById("messageSendBtn").disabled = true;
                document.getElementById("messageSendBtn").style.opacity = 0.5;
            } else {
                document.getElementById("messageSendBtn").disabled = false;
                document.getElementById("messageSendBtn").style.opacity = 1;
            }
        }

        const previewMedia = (event) => {

            if(document.getElementById('preview_img')){
                document.getElementById('preview_img').parentElement.remove();
            }

            let form = document.getElementById('messageForm');

            let newDiv = document.createElement('div');
            newDiv.innerHTML = `<img src="" alt="" id="preview_img" class="h-36 w-36 m-4 rounded-xl">`;

            form.insertBefore(newDiv, form.firstChild);

            let output = document.getElementById('preview_img');

            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }

            let imgMessage = document.getElementById('img-message').value;
            if (imgMessage) {
                document.getElementById("messageSendBtn").disabled = false;
                document.getElementById("messageSendBtn").style.opacity = 1;
            } else {
                document.getElementById("messageSendBtn").disabled = true;
                document.getElementById("messageSendBtn").style.opacity = 0.5;
            }

        }
    </script>
</body>

</html>