<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/output.css" rel="stylesheet" />
    <title>X</title>
  </head>
  <body>
    <div class="p-relative h-screen" style="background-color: white">
      <div class="flex justify-center">
        <header class="h-12 py-4 h-auto">
          <!-- Side Navbar (left side) -->
          <%- include('../partials/sidebar.ejs') %>
        </header>
        <main role="main">
          <div class="flex" style="width: 990px">
            <%- include('../partials/notificationComponent')%>

            <!-- right sidebar -->
            <%- include('../partials/aside.ejs')%>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script src="/js/notification.script.js"></script>
</html>
