<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/output.css" rel="stylesheet" />
    <title>X</title>
  </head>
  <body>
    <div class="p-relative h-screen" style="background-color: white">
      <div class="flex justify-center">
        <header class="py-4 h-auto">
          <!-- Side Navbar (left side) -->
          <%- include('../partials/sidebar.ejs') %>
        </header>
        <main role="main">
          <div class="flex" style="width: 990px">
            <%- include('../partials/notificationComponent')%>

            <!-- right sidebar -->
            <%- include('../partials/aside.ejs')%>
          </div>
        </main>
      </div>
    </div>
  </body>
  <style>
    .overflow-y-auto::-webkit-scrollbar,
    .overflow-y-scroll::-webkit-scrollbar,
    .overflow-x-auto::-webkit-scrollbar,
    .overflow-x::-webkit-scrollbar,
    .overflow-x-scroll::-webkit-scrollbar,
    .overflow-y::-webkit-scrollbar,
    body::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .overflow-y-auto,
    .overflow-y-scroll,
    .overflow-x-auto,
    .overflow-x,
    .overflow-x-scroll,
    .overflow-y,
    body {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }

    .bg-dim-700 {
      --bg-opacity: 1;
      background-color: white;
    }

    html,
    body {
      margin: 0;
      background-color: white;
    }

    svg.paint-icon {
      fill: currentcolor;
    }
  </style>
  <script src="/js/notification.script.js"></script>
</html>

<!-- socket.io script that (new message ave to count display karva mate che) -->

<script src="/socket.io/socket.io.js"></script>
<script>

    let socket = io();

    let senderId = '<%= user.id %>';

    socket.on('connect', () => {
        console.log('connected to server ' + socket.id);

        socket.emit('user-connected', senderId);
        socket.emit('getUnreadMessages', senderId);     
    });

    socket.on('unreadMessages', (data) => {
        if (data.length) {
            document.getElementById('messageCount').parentElement.style.display = "flex";
            document.getElementById('messageCount').innerHTML = `${data.length}`;
        }
    });
</script>
