<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/output.css" rel="stylesheet" />
    <title>X</title>
  </head>
  <body>
    <div class="p-relative h-screen" style="background-color: white">
      <div class="flex justify-center">
        <header class="h-12 py-4 h-auto">
          <!-- Side Navbar (left side) -->
          <%- include('../partials/sidebar.ejs') %>
        </header>
        <main role="main">
          <div class="flex" style="width: 990px">
            <%- include('../partials/notificationComponent')%>

            <!-- right sidebar -->
            <%- include('../partials/aside.ejs')%>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script src="/js/notification.script.js"></script>
</html>

<!-- socket.io script that (new message ave to count display karva mate che) -->

<script src="/socket.io/socket.io.js"></script>
<script>

    let socket = io();

    let senderId = '<%= user.id %>';

    socket.on('connect', () => {
        console.log('connected to server ' + socket.id);

        socket.emit('user-connected', senderId);
        socket.emit('getUnreadMessages', senderId);     
    });

    socket.on('unreadMessages', (data) => {
        if (data.length) {
            document.getElementById('messageCount').parentElement.style.display = "flex";
            document.getElementById('messageCount').innerHTML = `${data.length}`;
        }
    });
</script>
