<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/output.css" rel="stylesheet" />
    <title>X</title>
  </head>

  <body>
    <div class="p-relative h-screen" style="background-color: white">
      <div class="flex justify-center">
        <header class="h-12 py-4 h-auto">
          <!-- Side Navbar (left side) -->
          <%- include('../partials/sidebar.ejs') %>
        </header>
        <main role="main">
          <div class="flex" style="width: 990px">
            <%- include('../partials/notificationComponent')%>

            <!-- right sidebar -->
            <%- include('../partials/aside.ejs')%>
          </div>
        </main>
      </div>
    </div>
  </body>

  <script>
    let alluserBtn = document.getElementById("alluser");
    let alluserContent = document.getElementById("allusercontent");

    let verifiedBtn = document.getElementById("verified");
    let verifiedContent = document.getElementById("verifiedcontent");
    let mentionBtn = document.getElementById("mention");
    let mentionContent = document.getElementById("mentioncontent");

    alluserBtn.addEventListener("click", function () {
      alluserContent.style.display = "block";
      mentionContent.style.display = "none";
      verifiedContent.style.display = "none";
      alluserBtn.style.color = "blue";
      mentionBtn.style.color = "black";
      verifiedBtn.style.color = "black";
    });
    verifiedBtn.addEventListener("click", function () {
      alluserContent.style.display = "none";
      mentionContent.style.display = "none";
      verifiedContent.style.display = "block";
      alluserBtn.style.color = "black";
      mentionBtn.style.color = "black";
      verifiedBtn.style.color = "blue";
    });

    mentionBtn.addEventListener("click", function () {
      alluserContent.style.display = "none";
      mentionContent.style.display = "block";
      verifiedContent.style.display = "none";
      mentionBtn.style.color = "blue";
      alluserBtn.style.color = "black";
      verifiedBtn.style.color = "black";
    });

    document.addEventListener("DOMContentLoaded", async () => {
      const loadNotifications = async () => {
        try {
          var url = window.location.origin + "/notification";
          const response = await fetch(url);
          console.log(response);
          const notifications = await response.json();
          console.log(notifications);
          // Assuming the notifications are returned as JSON from the backend
        } catch (error) {
          console.error("Error loading notifications:", error);
        }
      };
      // // Example: Trigger loading notifications when a button is clicked
      alluserBtn.addEventListener("click", loadNotifications);
      alluserContent.innerHTML = ""; // Clear previous content
    });
  </script>
</html>
