<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>X</title>
  </head>

  <body>
    <div class="p-relative h-screen" style="background-color: white">
      <div class="flex justify-center">
        <header class="h-12 py-4 h-auto">
          <!-- Side Navbar (left side) -->
          <%- include('../partials/sidebar.ejs') %>
        </header>
        <main role="main">
          <div class="flex" style="width: 990px">
            <%- include('../partials/notificationComponent')%>

            <!-- right sidebar -->
            <%- include('../partials/aside.ejs')%>
          </div>
        </main>
      </div>
    </div>
  </body>

  <script>
    let alluserBtn = document.getElementById("alluser");
    let alluserContent = document.getElementById("allusercontent");
    let verifiedBtn = document.getElementById("verified");
    let verifiedContent = document.getElementById("verifiedcontent");
    let mentionBtn = document.getElementById("mention");
    let mentionContent = document.getElementById("mentioncontent");

    verifiedBtn.addEventListener("click", function () {
      alluserContent.style.display = "none";
      mentionContent.style.display = "none";
      verifiedContent.style.display = "block";
      alluserBtn.style.color = "black";
      mentionBtn.style.color = "black";
      verifiedBtn.style.color = "blue";
    });
    alluserBtn.addEventListener("click", function () {
      alluserContent.style.display = "block";
      mentionContent.style.display = "none";
      verifiedContent.style.display = "none";
      alluserBtn.style.color = "blue";
      mentionBtn.style.color = "black";
      verifiedBtn.style.color = "black";
    });
    mentionBtn.addEventListener("click", function () {
      alluserContent.style.display = "none";
      mentionContent.style.display = "block";
      verifiedContent.style.display = "none";
      mentionBtn.style.color = "blue";
      alluserBtn.style.color = "black";
      verifiedBtn.style.color = "black";
    });
  </script>
</html>
