<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Password</title>
  <link rel="stylesheet" href="/css/output.css" />
</head>

<body>

  <% if (hours>=1) { %>
    <h1>link was expaired</h1>
    <% } else {%>

      <section class="h-screen">
        <div class="h-full">
          <div class="flex h-full flex-wrap items-center justify-center lg:justify-between">
            <div class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
              <div class="px-6 py-4">
                <div class="flex justify-center mx-auto">
                  <img class="w-auto h-7 sm:h-8" src="/assets/X-Logo.png" alt="" />
                </div>

                <p class="mt-1 text-center text-black dark:text-gray-400">
                  Create Password
                </p>

                <form id="passForm" method="post">
                  <input type="text" name="email" id="email" value="<%= email %>" hidden>
                  <div class="w-full mt-4">
                    <input
                      class="block w-full px-4 py-2 mt-2 text-gray-800 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-black dark:focus:border-black focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-gray-300"
                      value="" type="password" id="password" name="password" placeholder="Password"
                      aria-label="password" required />
                  </div>


                  <div class="w-full mt-4">
                    <input
                      class="block w-full px-4 py-2 mt-2 text-gray-800 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-black dark:focus:border-black focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-gray-300"
                      value="" type="password" id="confirm_password" name="confirm_password"
                      placeholder="Confirm Password" aria-label="confirm_password" required />
                  </div>
                  <p id="instruction" style="color: grey; font-size: 13px; padding-left: 5px; padding-top: 5px">password must contain 8 charactors including Minimum 1 Uppercase, lowercase and special charactor.</p>
                  <span id="insertpassword" style="color: red"></span>
                  <div class="flex items-center justify-between mt-4">
                    <p id="confirm"
                    tabindex="0"
                      class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-black rounded-lg hover:bg-gray-900 focus:ring cursor-pointer"
                      onclick="return createPassword()" value="Login">
                      Login
                    </p>


                    <div>
                      <input type="checkbox" onclick="show()" class="mx-1" />Show
                      Password
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% } %>
        <script type="text/javascript">
          document.getElementById('confirm').onkeypress = (e) =>{
            if(e.which == 13){
              document.getElementById('confirm').dispatchEvent(new Event('click'));
            }
          }
          function show() {
            let x = document.getElementById("password");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }

            let y = document.getElementById("confirm_password");
            if (y.type === "password") {
              y.type = "text";
            } else {
              y.type = "password";
            }
          }

          async function createPassword() {

            let passwordElement = document.getElementById("password");
            let confirmPasswordElement = document.getElementById("confirm_password");
            let passwordSpan = document.getElementById("insertpassword");

            let responsePassword = password(passwordElement, passwordSpan);
            let responsePasswordMatch = false;
            if (responsePassword === true) {
              responsePasswordMatch = passwordMatch(passwordElement, confirmPasswordElement, passwordSpan);
            }

            if (responsePassword === true && responsePasswordMatch === true) {

              let formdata = document.getElementById("passForm");
              let data = new FormData(formdata);
              const param = new URLSearchParams(data);
              // console.log(param);

              let url = window.location.origin + "/createPassword";
              let data2 = await fetch(url, {
                method: "POST",
                headers: {
                  "Content-type": "application/x-www-form-urlencoded",
                },
                body: param,
              }).then((value) => {
                window.location.href = window.location.origin + "/login";
              });

              return true;
            }

          }

          function password(email1, emailspan) {
            let mailformat = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;
            if (!email1.value) {
              emailspan.innerHTML = " *required ";
              email1.focus();
              return false;
            } else if (!email1.value.match(mailformat)) {
              emailspan.innerHTML = " *Invalid password!";
              email1.focus();
              return false;
            } else {
              emailspan.innerHTML = "";
              return true;
            }
          }

          function passwordMatch(a, b, c) {
            if (a.value == b.value) {
              c.innerHTML = "";
              return true;
            } else if (a.value != b.value) {
              c.innerHTML = "Password Does not match!"
              return false;
            }
          }

        </script>
</body>

</html>