<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Password</title>
  <link rel="stylesheet" href="/css/output.css" />
</head>

<body>

  <% if (hours>=1) { %>
    <h1>link was expaired</h1>
    <% } else {%>

      <section class="h-screen">
        <div class="h-full">
          <div class="flex h-full flex-wrap items-center justify-center lg:justify-between">
            <div class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
              <div class="px-6 py-4">
                <div class="flex justify-center mx-auto">
                  <img class="w-auto h-7 sm:h-8" src="/assets/X-Logo.png" alt="" />
                </div>

                <p class="mt-1 text-center text-black dark:text-gray-400">
                  Create Password
                </p>

                <form id="passForm" method="post">
                  <input type="text" name="email" id="email" value="<%= email %>" hidden>
                  <div class="w-full mt-4">
                    <input
                      class="block w-full px-4 py-2 mt-2 text-gray-800 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-black dark:focus:border-black focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-gray-300"
                      type="password" id="password" name="password" placeholder="Password" aria-label="password" />
                  </div>


                  <div class="w-full mt-4">
                    <input
                      class="block w-full px-4 py-2 mt-2 text-gray-800 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-black dark:focus:border-black focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-gray-300"
                      input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"
                      aria-label="confirm_password" onkeyup="validate_password()" />
                  </div>
                  <span id="wrong_pass_alert"></span><br />
                  <span id="insertpassword"></span>
                  <div class="flex items-center justify-between mt-4">
                    <p id="confirm"
                      class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-black rounded-lg hover:bg-gray-900 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50"
                      onclick="createpassword()" value="Login">
                      Login
                    </p>


                    <div>
                      <input type="checkbox" onclick="show()" class="mx-1" />Show
                      Password
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% } %>
        <script type="text/javascript">
          function show() {
            var x = document.getElementById("password");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }

            var x = document.getElementById("confirm_password");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
          }
          var wrongpass = document.getElementById("insertpassword");
          wrongpass.innerHTML = "";
          function wrong_pass() {

            if (document.getElementById("password").value !== "" && document.getElementById("confirm_password").value !== "") {
              if (
                document.getElementById("password").value ===
                document.getElementById("confirm_password").value
              ) {
                document.getElementById("insertpassword").innerHTML =
                  "";
                return false;
              }
            } else if (
              document.getElementById("password").value == "" &&
              document.getElementById("confirm_password").value == ""
            ) {
              wrongpass.innerHTML = "Please enter reqiured fields";
              return false;
            } else {
              wrongpass.innerHTML = "";
              return true;
            }

          }

          function validate_password() {
            let valid = false
            let pass = document.getElementById("password").value;
            let confirm_pass = document.getElementById("confirm_password").value;
            if (pass != confirm_pass) {
              document.getElementById("wrong_pass_alert").style.color = "red";
              document.getElementById("wrong_pass_alert").innerHTML =
                "Use same password";
              document.getElementById("confirm").disabled = true;
              document.getElementById("confirm").style.opacity = 0.4;
              return valid
            } else {
              document.getElementById("wrong_pass_alert").style.color = "green";

              document.getElementById("wrong_pass_alert").innerHTML =
                "Password Matched";
              document.getElementById("confirm").disabled = false;
              document.getElementById("confirm").style.opacity = 1;
              return valid = true
            }
          }

          async function createpassword() {
            wrong_pass()

            let valid = validate_password()


            if (valid == false) {
              return false;
            } else {
              let formdata = document.getElementById("passForm");
              let data = new FormData(formdata);
              const param = new URLSearchParams(data);
              console.log(param);

              let url = window.location.origin + "/createPassword";
              let data2 = await fetch(url, {
                method: "POST",
                headers: {
                  "Content-type": "application/x-www-form-urlencoded",
                },
                body: param,
              });
              data2 = await data2.json()




              if (data2.isComplete) {
                window.location.href = window.location.origin + "/login";

              }
            }
          }
        </script>
</body>

</html>