<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>

  <body>
    <div class="mt-48">
      <div
        class="flex mx-auto max-w-md mt-10 rounded-lg flex-col justify-center px-6 py-12 lg:px-8"
      >
        <div
          class="flex h-full flex-wrap items-center justify-center lg:justify-between"
        >
          <div
            class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800"
          >
            <div class="px-6 py-4">
              <div class="flex justify-center mx-auto">
                <img
                  class="w-auto h-7 sm:h-8"
                  src="/assests/X-Logo.png"
                  alt=""
                />
              </div>

              <p class="mt-1 text-center text-black dark:text-gray-400">
                Enter New Password
              </p>

              <form>
                <div class="w-full mt-4">
                  <input
                    class="block w-full px-4 py-2 mt-2 text-gray-800 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-black dark:focus:border-black focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-gray-300"
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Password"
                    aria-label="password"
                  />
                </div>

                <div class="w-full mt-4">
                  <input
                    class="block w-full px-4 py-2 mt-2 text-gray-800 placeholder-gray-500 bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-black dark:focus:border-black focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-gray-300"
                    input
                    type="password"
                    id="confirm_password"
                    name="confirm_password"
                    placeholder="Confirm Password"
                    aria-label="confirm_password"
                  />
                </div>

                <div class="flex items-center justify-between mt-4">
                  <p
                    class="px-6 py-2 text-sm font-medium cursor-pointer tracking-wide text-white capitalize transition-colors duration-300 transform bg-black rounded-lg hover:bg-gray-900 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50"
                    id="confirm"
                    onclick="forgot()"
                  >
                    Confirm
                  </p>

                  <div>
                    <input
                      type="checkbox"
                      id="show_pass"
                      name="show_pass"
                      onclick="myFunction()"
                      class="mx-1"
                    />
                    <label for="show_pass"> Show Password</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function myFunction() {
        let password = document.getElementById("password");
        if (password.type === "password") {
          password.type = "text";
        } else {
          password.type = "password";
        }

        let confirmPassword = document.getElementById("confirm_password");
        if (confirmPassword.type === "password") {
          confirmPassword.type = "text";
        } else {
          confirmPassword.type = "password";
        }
      }

      async function forgot() {
        async function set_password(email, password, activeCode) {
          let url = window.location.origin + "/setPassword";
          let data1 = {
            inputEmail: email,
            inputPassword: password,
            activeCode: activeCode,
          };
          console.log(data1);
          let result_validate = await fetch(url, {
            method: "post",
            body: JSON.stringify(data1),
            headers: { "Content-Type": "application/json" },
          });

          let result = await result_validate.json();
          console.log(result);

          return result;
        }

        let inputPassword = document.getElementById("password").value;

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        let inputEmail = urlParams.get("email").toString();
        let activationCode = urlParams.get("activecode").toString();
        console.log(inputEmail);
        console.log(activationCode);

        let result = await set_password(
          inputEmail,
          inputPassword,
          activationCode
        );

        console.log(result);

        if (result.isvalidate_user == false) {
          alert(" not updated");
        } else {
          window.location.href = window.origin + "/login";
        }
      }
    </script>
  </body>
</html>
