<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/admin.css" rel="stylesheet" />
    <link href="/css/output.css" rel="stylesheet" />

    <script src="/js/user.admin.js"></script>
    <script src="/js/tweetadmin.js"></script>
    <script src="/js/hastag.admin.js"></script>
    <script src="/js/verify.admin.js"></script>

</head>

<body onload="usershandeler()">

    <div class="main-container" id="main-container">
        <div class="sidebar">
            <div class="admin">
                <img src="/assets/x-twitterblue.svg" alt="" class="w-16 h-16 ml-2 p-1 ring-gray-300 dark:ring-gray-500">
            </div>
            <div class="admin-txt">
                <h1
                    class="text-2xl md:text-3xl pl-2 my-2 border-l-4  font-sans font-bold border-teal-400  dark:text-gray-200">
                    Admin Panel
                </h1>

            </div>
            <div class="features">
                <div class="img-icon" id="users">
                    <img src="/assets/user-regular.svg" alt=""
                        class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
                    <p class="tweet">Users</p>
                </div>
                <div class="img-icon" id="tweets">
                    <img src="/assets/twitter.svg" alt=""
                        class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
                    <p class="tweet">tweets</p>
                </div>

                <div class="img-icon" id="hastags">
                    <img src="/assets/hashtag-solid.svg" alt=""
                        class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
                    <p class="tweet">hastags</p>
                </div>

                <div class="img-icon" id="verification">
                    <img src="/assets/check-solid.svg" alt=""
                        class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
                    <p class="tweet">verification</p>
                </div>

                <div class="img-icon" id="support">
                    <img src="/assets/circle-question-regular.svg" alt=""
                        class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
                    <p class="tweet">support</p>
                </div>

            </div>

        </div>




        <div class="content" id="content">


        </div>
</body>


<script>

    let users = document.getElementById("users");
    let tweets = document.getElementById("tweets");
    let hastags = document.getElementById("hastags");
    let verification = document.getElementById("verification");
    let support = document.getElementById("support");



    users.addEventListener("click", usershandeler)
    tweets.addEventListener("click", tweetshandeler)
    hastags.addEventListener("click", hastagshandeler)
    verification.addEventListener("click", verifyhandeler)
    support.addEventListener("click", supporthandeler)

    async function usershandeler() {

        document.querySelectorAll(".active").forEach(el => el.classList.remove("active"));
        users.classList.add("active");
        let content = document.getElementById("content");

        userscontent = `  
        <div class="flex gap-8" >
            <div class="pagination">
                <p class="pagebtn">
                    < </p>  
                        <div class="flex">
                        <p>page &nbsp</p>
                        <p> 1</p>
                        </div>
                <p class="pagebtn">></p>
            </div>

        <div class="ml-20">
                <label for="table-search" class="sr-only">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="text" id="table-search-users"
                        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search for users">
                </div>
            </div>
            </div>`
        userscontent += await getuserpage();
        content.innerHTML = userscontent;

    }
    async function tweetshandeler() {
        document.querySelectorAll(".active").forEach(el => el.classList.remove("active"));
        tweets.classList.add("active");
        let tweetcontent = `<div class="flex gap-8" >
            <div class="pagination">
            <p class="pagebtn">
            < </p>  
            <div class="flex">
            <p>page &nbsp</p>
            <p> 1</p>
            </div>
            <p class="pagebtn">></p>
            </div>

            <div class="ml-20">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
            </div>
            <input type="text" id="table-search-users"
            class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search for users">
            </div>
            </div>
            </div>`
        tweetcontent += await gettweets();
        content.innerHTML = tweetcontent;
    }
    async function hastagshandeler() {
        document.querySelectorAll(".active").forEach(el => el.classList.remove("active"));
        hastags.classList.add("active");
        let hashcontain = `<div class="flex gap-8" >
            <div class="pagination">
            <p class="pagebtn">
            < </p>  
            <div class="flex">
            <p>page &nbsp</p>
            <p> 1</p>
            </div>
            <p class="pagebtn">></p>
            </div>
            <div class="ml-20">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
            </div>
            <input type="text" id="table-search-users"
            class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search for users">
            </div>
            </div>
            </div>`
        hashcontain += await gethastag();
        content.innerHTML = hashcontain;

    }

    async function verifyhandeler() {
        document.querySelectorAll(".active").forEach(el => el.classList.remove("active"));
        verification.classList.add("active");
        let verification1 = `<div class="flex gap-8" >
            <div class="pagination">
            <p class="pagebtn">
            < </p>  
            <div class="flex">
            <p>page &nbsp</p>
            <p> 1</p>
            </div>
            <p class="pagebtn">></p>
            </div>
            <div class="ml-20">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
            </div>
            <input type="text" id="table-search-users"
            class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search for users">
            </div>
            </div>
            </div>`
        verification1 += await verify_request();
        content.innerHTML = verification1

    }

    function supporthandeler() {
        document.querySelectorAll(".active").forEach(el => el.classList.remove("active"));
        support.classList.add("active");
    }

    function hastagverification() {

    }

    async function verifyhandel(userid, req1, reqid) {
        await vrified(userid, req1, reqid)
        let verification1 = await verify_request();
        content.innerHTML = verification1
    }

    async function tweetristric(tweetid, isristricted) {
        await ristric(tweetid, isristricted);
    }

    async function userstatushandel(id, active) {
        await statushandeluser(id, active);


    }

    let main = document.getElementById("content");

    main.addEventListener("click", mainhandel)

    function mainhandel(e) {
        if (e.target.src == window.location.origin + "/assets/red.png") {
            e.target.src = "/assets/green.png"
        }
        else if (e.target.src == window.location.origin + "/assets/green.png") {
            e.target.src = "/assets/red.png"

        }


        if (e.target.id == "table-search-users") {
            let tableSearchUsers = document.getElementById("table-search-users");

            tableSearchUsers.addEventListener("keydown", searchhandel)
            let debouncing;

            function searchhandel(e) {
                clearTimeout(debouncing)
                debouncing = setTimeout(async () => {
                    console.log(e.target);

                }, 600)

            }
        }

    }



</script>

</html>