<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminlogin</title>
    <link href="/css/adminlogin.css" rel="stylesheet" />
    <link href="/css/output.css" rel="stylesheet" />
</head>

<body>
    <div class="mt-48">
        <div class="flex mx-auto max-w-md mt-10 rounded-lg flex-col justify-center px-6 py-12 lg:px-8">
            <div class="sm:mx-auto justify-center sm:w-full sm:max-w-sm">
                <div class="sm:mx-auto flex justify-center sm:w-full sm:max-w-sm">
                    <img class="rounded-full w-14 h-10" src="/assets/x-logo.png" alt="x logo" />
                </div>
                <p class="mt-1 text-center text-black dark:text-gray-400">
                    Admin Login
                </p>
            </div>

            <div class="flex items-center justify-center w-full mt-2">
                <hr class="w-[100px] h-[1px] bg-slate-200 border-0 rounded" />

                <hr class="w-[100px] h-[1px] bg-slate-200 border-0 rounded" />
            </div>

            <form name="login" class="space-y-6" action="" method="POST">
                <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
                    <div>
                        <div class="mt-2">
                            <input id="email" name="email" type="email" placeholder="admin@email.com"
                                autocomplete="email"
                                class="w-full block px-4 py-2 mt-2 text-gray-800 placeholder-gray-500 bg-white border rounded-lg focus:border-black dark:focus:border-black focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-gray-300" />
                            <span class="text-red-500" id="checkmail"></span>
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center justify-between"></div>
                        <div class="mt-5">
                            <input id="password" name="password" type="password" placeholder=" Password"
                                autocomplete="current-password"
                                class="block w-full px-4 py-2 mt-2 text-gray-800 placeholder-gray-500 bg-white border rounded-lg focus:border-black dark:focus:border-black focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-gray-300" />

                            <span class="text-red-500" id="checkpassword"></span>
                        </div>

                    </div>

                    <div class="mt-5 flex justify-center border rounded-full border-slate-300 w-full hover:bg-gray-100">
                        <input name="signin" id="signin" type="button"
                            class="flex w-full justify-center cursor-pointer rounded-full bg-white px-3 py-1.5 leading-6 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sm text-sky-500 font-bold"
                            value="Sign in" onclick="return validateAndSubmit()" />
                    </div>
                    <div class="text-sm mt-4">


                    </div>
                </div>
                <span id="errorMessage" class="text-red-500 text-sm block text-center"></span>
            </form>
        </div>
    </div>
</body>
<script>
    const validateAndSubmit = async () => {
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const emailErrorElement = document.getElementById("checkmail");
        const passwordErrorElement = document.getElementById("checkpassword");
        const errorMessageElement = document.getElementById("errorMessage");
        isValid = true;

        emailErrorElement.textContent = "";
        passwordErrorElement.textContent = "";
        errorMessageElement.textContent = "";
        let regexemail = "^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$";

        if (email === "") {
            emailErrorElement.innerHTML = "Email is required";
            isValid = false;
        } else if (!email.match(regexemail)) {
            emailErrorElement.innerHTML = "Email is not valid";
            isValid = false;
        } else {
            emailErrorElement.innerHTML = "";
        }

        if (!password) {
            passwordErrorElement.textContent = "Please enter your password.";
            isValid = false;
        }

        try {
            let url = window.location.origin + "/admin/adminlogin";
            let login_data = {
                email,
                password,
            };
            let login_response = await fetch(url, {
                method: "POST",
                body: JSON.stringify(login_data),
                headers: {
                    "Content-Type": "application/json",
                },
            });

            login_response = await login_response.json();
            if (login_response.success === true) {
                url = window.location.replace(window.location.origin + "/admin/adminPannel");
                // Redirect to home page upon successful login
                // url = window.location.origin + "/home";
            } else {
                const errorMessage = await login_response;
                errorMessageElement.textContent = errorMessage.message;
            }
        } catch (error) {
            console.error("Login error:", error);
            errorMessageElement.textContent =
                "An error occurred. Please try again.";
        }
    };
</script>



</html>