<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/admin.css" rel="stylesheet" />
    <link href="/css/output.css" rel="stylesheet" />

    <script src="/js/user.admin.js"></script>
    <script src="/js/tweetadmin.js"></script>
    <script src="/js/hastag.admin.js"></script>
    <script src="/js/verify.admin.js"></script>

</head>

<body onload="usershandeler()">

    <div class="main-container" id="main-container">
        <div class="sidebar">
            <div class="admin">
                <img src="/assets/x-twitterblue.svg" alt="" class="w-16 h-16 ml-2 p-1 ring-gray-300 dark:ring-gray-500">
            </div>
            <div class="admin-txt">
                <h1
                    class="text-2xl md:text-3xl pl-2 my-2 border-l-4  font-sans font-bold border-teal-400  dark:text-gray-200">
                    Admin Panel
                </h1>

            </div>
            <div class="features">
                <div class="img-icon" id="users">
                    <img src="/assets/user-regular.svg" alt=""
                        class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
                    <p class="tweet">Users</p>
                </div>
                <div class="img-icon" id="tweets">
                    <img src="/assets/twitter.svg" alt=""
                        class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
                    <p class="tweet">tweets</p>
                </div>

                <div class="img-icon" id="hastags">
                    <img src="/assets/hashtag-solid.svg" alt=""
                        class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
                    <p class="tweet">hastags</p>
                </div>

                <div class="img-icon" id="verification">
                    <img src="/assets/check-solid.svg" alt=""
                        class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
                    <p class="tweet">verification</p>
                </div>

                <div class="img-icon" id="support">
                    <img src="/assets/circle-question-regular.svg" alt=""
                        class="w-10 h-10 ml-2 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500">
                    <p class="tweet">support</p>
                </div>

            </div>

        </div>
        <div class="content" id="content">


        </div>
</body>


<script>

    let users = document.getElementById("users");
    let tweets = document.getElementById("tweets");
    let hastags = document.getElementById("hastags");
    let verification = document.getElementById("verification");
    let support = document.getElementById("support");

    users.addEventListener("click", usershandeler)
    tweets.addEventListener("click", tweetshandeler)
    hastags.addEventListener("click", hastagshandeler)
    verification.addEventListener("click", verifyhandeler)
    support.addEventListener("click", supporthandeler)

    async function usershandeler(search = "", page = "none", curpage = "none") {

        document.querySelectorAll(".active").forEach(el => el.classList.remove("active"));
        users.classList.add("active");
        let content = document.getElementById("content");


        let userscontent = await getuserpage(search, page, curpage);
        content.innerHTML = userscontent;

    }

    async function tweetshandeler(search = "") {
        document.querySelectorAll(".active").forEach(el => el.classList.remove("active"));
        tweets.classList.add("active");

        let tweetcontent = await gettweets(search);
        content.innerHTML = tweetcontent;
    }

    async function hastagshandeler(search = "") {
        document.querySelectorAll(".active").forEach(el => el.classList.remove("active"));
        hastags.classList.add("active");

        let hashcontain = await gethastag(search);
        content.innerHTML = hashcontain;

    }

    async function verifyhandeler(search = "") {
        document.querySelectorAll(".active").forEach(el => el.classList.remove("active"));
        verification.classList.add("active");

        let verification1 = await verify_request(search);
        content.innerHTML = verification1

    }

    function supporthandeler() {
        document.querySelectorAll(".active").forEach(el => el.classList.remove("active"));
        support.classList.add("active");
    }

    function hastagverification() {

    }

    async function verifyhandel(userid, req1, reqid) {
        await vrified(userid, req1, reqid)
        let verification1 = await verify_request();
        content.innerHTML = verification1
    }

    async function tweetristric(tweetid, isristricted) {
        await ristric(tweetid, isristricted);
    }

    async function userstatushandel(id, active) {
        await statushandeluser(id, active);


    }

    let main = document.getElementById("content");

    main.addEventListener("click", mainhandel)

    async function mainhandel(e) {
        if (e.target.src == window.location.origin + "/assets/red.png") {
            e.target.src = "/assets/green.png"
        }
        else if (e.target.src == window.location.origin + "/assets/green.png") {
            e.target.src = "/assets/red.png"

        }
        let pagenumber = document.getElementById("pagenumber").innerText
        if (e.target.classList[0] == "gtuser") {
            await usershandeler("", pagenumber, Number(pagenumber) + 1)

        }



        if (e.target.id == "table-search-users") {
            let tableSearchUsers = document.getElementById("table-search-users");

            tableSearchUsers.addEventListener("keydown", searchhandel)
            let debouncing;

            function searchhandel(e) {
                clearTimeout(debouncing)
                debouncing = setTimeout(async () => {
                    let search1 = tableSearchUsers.value;

                    console.log(e.target.classList[0]);

                    if (e.target.classList[0] == "user") {

                        let pagenumber = document.getElementById("pagenumber").innerText;
                        console.log("page number is ", pagenumber);
                        await usershandeler(search1, pagenumber)
                    }
                    else if (e.target.classList[0] == "hashtag") {
                        await hastagshandeler(search1)
                    }
                    else if (e.target.classList[0] == "tweet") {
                        tableSearchUsers.focus()
                        await tweetshandeler(search1)
                    }
                    else if (e.target.classList[0] == "verify") {
                        await verifyhandel(search1)
                    }




                }, 1200)

            }
        }

    }



</script>

</html>